            /*** Animation ***/

.loading-animation-block,
.loading-block {
  height: 150px;
  width: 150px;
}

.loading-animation-block {
  display: inline-block;
  position: absolute;
}

.loading-block {
  position: absolute;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  border-width: 0;
  box-sizing: border-box;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

.idle .loading-block {
  background-color: rgba(111, 111, 111, 0.1);
}

.loading-block.block-1 {
  border-top-width: 2px;
}

.loading-block.block-2 {
  border-right-width: 2px;
}

.loading-block.block-3 {
  border-bottom-width: 2px;
}

.loading-block.block-4 {
  border-left-width: 2px;
}

.loading .loading-block {
  -webkit-animation: loadingAnimation 2s linear infinite;
  /* Chrome, Safari, Opera */
  animation: loadingAnimation 2s linear infinite;
}

.loading .loading-block.block-1 {
  margin-top: -20px;
}

.loading .loading-block.block-2 {
  margin-left: 20px;
}

.loading .loading-block.block-3 {
  margin-top: 20px;
}

.loading .loading-block.block-4 {
  margin-left: -20px;
}

.loading .loading-animation-block,
.loading .loading-block {
  height: 300px;
  width: 300px;
}

#loading-text,
#loading-circle {
  width: 150px;
  height: 150px;
  line-height: 150px;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

#loading-text {
  position: absolute;
  display: inline-block;
  font-size: 64px;
  text-align: center;
}

.loading #loading-text,
.loading #loading-circle {
  width: 300px;
  height: 300px;
  line-height: 300px;
}

#loading-text>div {
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

#loading-circle {
  display: inline-block;
  text-align: left;
}

#loading-circle {
  cursor: pointer;
}

.idle #loading-circle:hover .loading-block,
.idle #loading-circle.selected .loading-block {
  box-shadow: 0px 0px 10px 0px rgba(0, 131, 255, 0.63), inset 0px 0px 10px 0px rgba(0, 131, 255, 0.63);
}

#loading-btn-start {
  color: white;
  font-weight: 800;
  text-shadow: 0px 0px 01px rgba(0, 131, 255, 0.63), 0px 0px 17px rgba(0, 131, 255, 0.63);
  
}

.idle #loading-circle:hover #loading-btn-start,
.idle #loading-circle.selected #loading-btn-start {
  text-shadow: 0px 0px 01px rgba(0, 131, 255, 0.63), 0px 0px 17px rgba(0, 131, 255, 0.63);
}

.loading #loading-btn-start {
  display: none;
}

#loading-btn-progress {
  display: none;
  color: white;
  font-weight: 800;
  -webkit-animation: loading-btn-progressAnimation 2s linear  infinite; /* Chrome, Safari, Opera */
  animation: loading-btn-progressAnimation 2s linear  infinite;  
}

.loading #loading-btn-progress {
  display: inline-block;
  text-shadow: 0px 0px 01px rgba(0, 131, 255, 0.63), 0px 0px 17px rgba(0, 131, 255, 0.63);
}

/* Chrome, Safari, Opera */
@-webkit-keyframes loadingAnimation {
    0%   {-webkit-transform: rotate(0deg);}
    25%  {-webkit-transform: rotate(90deg);}
    50%  {-webkit-transform: rotate(180deg);}
    100% {-webkit-transform: rotate(360deg);}
}

/* Standard syntax */
@keyframes loadingAnimation {
    0%   {transform: rotate(0deg);}
    25%  {transform: rotate(90deg);}
    50%  {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

@-webkit-keyframes loading-btn-progressAnimation {
    0%   {text-shadow: 0px 0px 01px rgba(0, 131, 255, 0.63), 0px 0px 17px rgba(0, 131, 255, 0.63);}
    70%  {text-shadow: 0px 0px 01px rgba(255, 0, 0, 0.8), 0px 0px 17px rgba(255, 0, 0, 0.8), 0px 0px 17px black;}
    100% {text-shadow: 0px 0px 01px rgba(0, 131, 255, 0.63), 0px 0px 17px rgba(0, 131, 255, 0.63);}
}

/* Standard syntax */
@keyframes loading-btn-progressAnimation {
    0%   {text-shadow: 0px 0px 01px rgba(0, 131, 255, 0.63), 0px 0px 17px rgba(0, 131, 255, 0.63);}
    70%  {text-shadow: 0px 0px 01px rgba(255, 0, 0, 0.8), 0px 0px 17px rgba(255, 0, 0, 0.8), 0px 0px 17px black;}
    100% {text-shadow: 0px 0px 01px rgba(0, 131, 255, 0.63), 0px 0px 17px rgba(0, 131, 255, 0.63);}
}